@model IEnumerable<QLCuaHangTienLoi.Models.sanPham>
@{
    ViewBag.Title = "Seach";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2 style="text-align:center; color:red">TRANG HIỂN THỊ KẾT QUẢ TÌM KIẾM SẢN PHẨM</h2>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>DANH MỤC</h2>
                    <div class="panel-group category-products" id="accordian">
                        @Html.Action("LoaiSP", "BanHang")

                    </div>

                    @*<div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well">
                            <input type="text" class="span2" value="" data-slider-min="0" data-slider-max="600" data-slider-step="5" data-slider-value="[250,450]" id="sl2"><br />
                            <b>$ 0</b> <b class="pull-right">$ 600</b>
                        </div>
                    </div><!--/price-range-->*@
                </div>
            </div>

            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">SẢN PHẨM</h2>
                    @foreach (var sanPham in Model)
                    {
                        <div class="col-sm-3 col-lg-3 col-md-3">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">

                                        <img alt="@sanPham.tenSP" src="~/images/@sanPham.hinhDD" width="100" />
                                        <div>
                                            <br />
                                            <h4 style="text-align:center">
                                                @sanPham.tenSP
                                            </h4>
                                            <p></p>
                                        </div>
                                        <h2>@sanPham.giaBan VND</h2>
                                        <p>Easy Polo Black Edition</p>
                                        <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Chi tiết sản phẩm</a>

                                    </div>
                                    <div class="product-overlay">
                                        <div class="overlay-content">
                                            <h2>@sanPham.giaBan VND</h2>
                                            <p>Easy Polo Black Edition</p>
                                            <a href="@Url.Action("Details","BanHang", new { id= sanPham.maSP})"><i class="fa fa-shopping-cart"></i> Chi tiết sản phẩm</a>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="choose">
                                    <ul class="nav nav-pills nav-justified">
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to wishlist</a></li>
                                        <li><a href="#"><i class="fa fa-plus-square"></i>Add to compare</a></li>
                                    </ul>
                                </div>*@
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </div>
</section>