@using QLCuaHangTienLoi.Models
@using PagedList.Mvc;
@model PagedList.PagedList<QLCuaHangTienLoi.Models.sanPham>
@*@model IEnumerable<QLCuaHangTienLoi.Models.sanPham>*@
@helper Truncate(string input, int length)
{ 
if(input.Length < length)
{
        @input
}
else
{
        @input.Substring(0, length)<text>...</text>
}
}

@{
    ViewBag.Title = "SanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align:center;color:red">QUẢN LÝ THÔNG TIN SẢN PHẨM</h2>

<p>
    @Html.ActionLink("Thêm mới", "ThemmoiSP")
</p>
<table class="table" border="1">
    <tr>
        <th style="width:200px"> Tên sản phẩm </th>
        <th style="width:120px"> Hình đại diện </th>
        <th style="width:120px"> Nội dung tóm tắt </th>
        <th style="width:100px"> Ngày đăng </th>
        <th style="width:70px"> Loại hàng </th>
        <th style="width:400px"> Nội dung </th>
        <th style="width:100px"> Tài khoản </th>
        <th style="width:100px"> Đã duyệt </th>
        <th style="width:70px"> Gía bán </th>
        <th style="width:70px"> Giam giá </th>
        <th style="width:70px"> Mã loại </th>
        <th style="width:120px"> Nhà sản xuất </th>
        <th style="width:70px"> Đơn vị tính </th>
        <th style="width:200px"> </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenSP)
        </td>
        <td>
            <img src="@Url.Content("~/images/"+ item.hinhDD)" style="width: 100%" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ndTomTat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ngayDang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.loaiHang)
        </td>
        <td>
            @Truncate(item.noiDung, 100)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taiKhoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.daDuyet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giaBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.giamGia) %
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.maLoai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhaSanXuat)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dvt)
        </td>
        <td>
            @Html.ActionLink("Sửa", "SuaSP", new { id=item.maSP }) |
            @Html.ActionLink("Chi tiết", "ChitietSP", new { id=item.maSP }) |
            @Html.ActionLink("Xóa", "XoaSP", new { id=item.maSP })
        </td>
    </tr>
}
</table>
@* tạo liên kết trang *@
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("SanPham", new { page = page}))
</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>
